Repository julianlbs/streaming-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint_3rd_party_api, pylint_backend_api

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint_3rd_party_api
        name: pylint
        entry: pylint
        files: packages/3rd-party-api/.*\.py$
        language: system
        types: [python]
        args: [
          "--disable=all",  # Disable all checks
          "--enable=F",     # Enable fatal errors
          "--enable=W",     # Enable warnings
          "--enable=C",     # Enable convention checks
          "--enable=R",     # Enable refactor suggestions
        ]

      - id: pylint_backend_api
        name: pylint
        entry: pylint
        files: packages/backend-api/.*\.py$
        language: system
        types: [python]
        args: [
          "--disable=all",  # Disable all checks
          "--enable=F",     # Enable fatal errors
          "--enable=W",     # Enable warnings
          "--enable=C",     # Enable convention checks
          "--enable=R",     # Enable refactor suggestions
        ]

chore: update install_dependencies.sh
  install_dependencies.sh
Due: none

feat: create simple websocket connection
  .pre-commit-config.yaml
  packages/backend-api/get_batch_data.py
  packages/backend-api/main.py
  packages/backend-api/requirements.txt
Due: pylint_backend_api

chore: commit
  packages/3rd-party-api/main.py
  packages/backend-api/get_batch_data.py
  packages/backend-api/get_data_from_api.py
  packages/backend-api/main.py
  packages/backend-api/test_get_data_from_api.py
  packages/front-end/.eslintrc.json
  packages/front-end/.gitignore
  packages/front-end/README.md
  packages/front-end/next.config.mjs
  packages/front-end/package.json
  packages/front-end/pnpm-lock.yaml
  packages/front-end/postcss.config.js
  packages/front-end/public/next.svg
  packages/front-end/public/vercel.svg
  packages/front-end/src/app/favicon.ico
  packages/front-end/src/app/globals.css
  packages/front-end/src/app/layout.tsx
  packages/front-end/src/app/page.tsx
  packages/front-end/tailwind.config.ts
  packages/front-end/tsconfig.json
Due: pylint_3rd_party_api, pylint_backend_api

feat: stream data asynchronously
  packages/backend-api/get_data_from_api.py
  packages/backend-api/main.py
  packages/front-end/src/app/page.tsx
Due: pylint_backend_api

feat: install shadcn
  packages/front-end/components.json
  packages/front-end/package.json
  packages/front-end/pnpm-lock.yaml
  packages/front-end/src/app/page.tsx
  packages/front-end/src/lib/utils.ts
  packages/front-end/tailwind.config.ts
Due: none

refactor: change websocket api implementation
  packages/backend-api/get_data_from_api.py
  packages/backend-api/main.py
Due: pylint_backend_api

feat: create DataPointTable
  packages/front-end/package.json
  packages/front-end/pnpm-lock.yaml
  packages/front-end/src/app/page.tsx
  packages/front-end/src/components/modules/DataPointTable.tsx
  packages/front-end/src/components/ui/table.tsx
  packages/front-end/src/domain/_index.ts
  packages/front-end/src/domain/models/data-point.ts
Due: none

feat: add header
  packages/front-end/src/app/layout.tsx
  packages/front-end/src/app/page.tsx
  packages/front-end/src/components/layout/Header.tsx
Due: none

chore: make some design adjustments with tailwind
  packages/front-end/src/app/page.tsx
  packages/front-end/src/components/layout/Header.tsx
  packages/front-end/src/components/modules/DataPointTable.tsx
Due: none

chore: change front-end folder structure
  packages/front-end/src/app/layout.tsx
  packages/front-end/src/app/page.tsx
  packages/front-end/src/presentation/components/layout/Header.tsx
  packages/front-end/src/presentation/components/modules/DataPointTable.tsx
  packages/front-end/src/presentation/components/ui/table.tsx
  packages/front-end/tsconfig.json
Due: none

feat: add ticker filter to stream data and clean code in front end
  packages/backend-api/main.py
  packages/front-end/src/app/page.tsx
  packages/front-end/src/presentation/hooks/useStreamData.ts
Due: pylint_backend_api

chore: improve code in DataPointTable component
  packages/front-end/src/app/page.tsx
  packages/front-end/src/presentation/components/modules/DataPointTable.tsx
Due: none

refactor: change filter and improve data streaming
  packages/backend-api/main.py
  packages/front-end/package.json
  packages/front-end/pnpm-lock.yaml
  packages/front-end/src/app/dashboard/layout.tsx
  packages/front-end/src/app/dashboard/page.tsx
  packages/front-end/src/app/layout.tsx
  packages/front-end/src/infra/stream/emit-event.ts
  packages/front-end/src/presentation/components/layout/Header.tsx
  packages/front-end/src/presentation/components/modules/FilterBar.tsx
  packages/front-end/src/presentation/components/ui/button.tsx
  packages/front-end/src/presentation/components/ui/input.tsx
  packages/front-end/src/presentation/hooks/useStreamData.ts
  packages/front-end/src/presentation/store/useSocketStore.ts
Due: pylint_backend_api

chore: improve tailwindcss design
  packages/front-end/src/presentation/components/modules/FilterBar.tsx
  packages/front-end/src/presentation/components/ui/button.tsx
  packages/front-end/src/presentation/components/ui/input.tsx
Due: none

feat: add socket connection status
  packages/front-end/src/app/dashboard/page.tsx
  packages/front-end/src/presentation/components/modules/FilterBar.tsx
  packages/front-end/src/presentation/components/modules/connection-badge.tsx
Due: none

chore: format price in usd currency
  packages/front-end/src/presentation/components/modules/DataPointTable.tsx
  packages/front-end/src/presentation/helpers/formatNumberToCurrency.ts
Due: none

feat: add Header and Footer to dashboard layout
  packages/front-end/package.json
  packages/front-end/pnpm-lock.yaml
  packages/front-end/src/app/dashboard/layout.tsx
  packages/front-end/src/app/dashboard/page.tsx
  packages/front-end/src/presentation/components/layout/Footer.tsx
  packages/front-end/src/presentation/components/layout/Header.tsx
  packages/front-end/src/presentation/components/modules/FilterBar.tsx
  packages/front-end/src/presentation/components/ui/avatar.tsx
  packages/front-end/src/presentation/components/ui/table.tsx
Due: none

feat: implement index page
  packages/front-end/public/trading-image.jpg
  packages/front-end/src/app/page.tsx
  packages/front-end/src/presentation/components/layout/Footer.tsx
  packages/front-end/src/presentation/components/layout/Header.tsx
  packages/front-end/src/presentation/components/ui/shimmer-button.tsx
  packages/front-end/tailwind.config.ts
Due: none

fix: solve next/image usage in home page
  packages/front-end/src/app/page.tsx
Due: none

refactor: move websocket server creation to a separate module
  packages/backend-api/get_batch_data.py
  packages/backend-api/main.py
  packages/backend-api/main/__init__.py
  packages/backend-api/main/create_websocket_server.py
Due: pylint_backend_api

refactor: improve code
  packages/backend-api/infra/__init__.py
  packages/backend-api/infra/get_data_from_api.py
  packages/backend-api/main.py
  packages/backend-api/main/stream_handler.py
  packages/backend-api/main/websocket_handler.py
  packages/front-end/src/app/dashboard/page.tsx
Due: pylint_backend_api

chore: create script to run all projects in parallel
  package.json
  packages/backend-api/main/websocket_handler.py
Due: pylint_backend_api

docs: update README
  README.md
Due: none

chore: add modules do requirements.txt
  packages/backend-api/requirements.txt
Due: none
